RewriteEngine on
RewriteCond $1 !^(index\.php|images|uploads|public|capcha|ADCSYSTEM|SQL|api|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]



#RewriteEngine on
#RewriteCond $1 !^(index\.php|img|msd)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L] 